li{
    color:green;
}

h1{
    color: purple;
    font-size: 50px;
    border: 2px solid yellow;
}


body{
  background-image: url('https://images.pexels.com/photos/23764/pexels-photo.jpg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
  background-repeat: no-repeat;
  background-size: cover;
}

.mon{
    color: orange;
    font-size: 20px;
}

.big-text{
    font-size: 40px;
}

#europa-text{
    font-size: 10px;
    color: aqua;
}

