.fundo{
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

.container-sm{
    color: #131212f1;
    
}

.lb{
    color: #fff;
}